@import 'tailwindcss';
* {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #02653a;
  --color-secondary: #fd6303;
  --color-text: #f2f2f2;
  --color-link-active: #f6d608;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poiret: var(--font-poiret-one);
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
}

.password-dots {
  -webkit-text-security: disc;
  font-size: 24px;
}

.nav-links {
  @applypx-1 py-1 cursor-pointer cursor-pointer;
}

.heading-1 {
  @apply text-center font-poiret text-primary text-2xl font-extrabold pb-5;
}
.section-dec {
  @apply pb-10 text-lg font-light;
}

.button-primary {
  @apply bg-primary/30 rounded-lg text-gray-700 hover:text-primary  px-10 py-3 cursor-pointer text-xl font-extralight;
}
